# --- WAJIB DI-IGNORE (Biar Build Cepat) ---
node_modules
.next
.git

# --- Infrastruktur Monitoring ---
# Kita tidak butuh config Loki masuk ke dalam container Next.js
grafana-loki

# --- Log & Debugging Lokal ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- File Docker ---
Dockerfile
.dockerignore
docker-compose.yaml

# --- Environment & Rahasia ---
# Jangan dicopy ke image demi keamanan. 
# Kita akan inject lewat docker-compose.yaml nanti.
.env*
.env.local

# --- Lainnya ---
.DS_Store
README.md
.vscode
.idea